* {
    outline: none;
}

body {
    padding: 0%;
    margin: 0%;
    color: grey;
    background: url(https://wallpapercave.com/wp/wp4645250.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Encode Sans SC', sans-serif;
}

header {
    background-image: linear-gradient(rgb(241 102 92), transparent);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

header h1 {
    color: white;
    margin: 0%;
    padding: 10px;
    padding-left: 3rem;
    width: 20%;
}

header nav {
    padding: 20px;
    font-size: 1rem;
    width: 60vw;
    text-align: right;
    padding-right: 3rem;
}

header>nav>span,
a {
    color: white;
    padding: 10px;
    font-size: 1rem;
    margin: 0%;
}

header>nav>span:hover,
a:hover {
    color: white;
    transition: .3s;
    border-bottom: 3px solid rgb(248, 101, 75);
    margin: 0%;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#container {
    color: white;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.664), transparent);
    width: 40vw;
    padding: 20px;
    margin-top: 10%;
    text-align: right;
    float: right;
    text-align: center;
}

#container>p {
    text-align: justify;
    padding-left: 3rem;
}

#movie,
#serial,
#award,
#biography {
    border-top: 3px solid grey;
    color: white;
    padding: 20px;
    margin-top: 3rem;
    display: none;
}

#movie>h1,
#serial>h1,
#award>h1,
#biography>h1 {
    position: sticky;
    top: 80px;
}

#biography>p {
    color: white;
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 10px;
    padding: 2rem;
    width: 80vw;
    margin: auto;
    backdrop-filter: blur(3px);
}

.movies,
.serials,
.awards {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.300);
}

.movies>img,
.serials>img,
.awards>img {
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 400px;
}

.movies>p,
.serials>p,
.awards>p {
    padding: 3rem;
    padding-left: 5px;
    color: white;
    text-align: justify;
}

.movies>p>span,
.serials>p>span,
.awards>p>span,
span {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

footer {
    background-color: black;
    padding: 10px;
    color: white;
    width: 20vw;
    border-radius: 0 15px 15px 0;
    margin: 5rem 0 3rem 0;
}

footer>a {
    color: rgb(255, 81, 50);
}

footer>a:hover {
    color: white;
    transition: .3s;
    background-image: linear-gradient( transparent, rgb(255, 81, 50));
    border: none;
}

#readmore {
    color: rgb(255, 81, 50);
}

#responsive {
    display: none;
}

@media screen and (max-width:550px) {
    body {
        background-size: cover;
    }
    #responsive {
        color: red;
        display: block;
        text-align: left;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.226);
        margin-top: 0%;
    }
    footer {
        width: 80vw;
        margin-top: 20rem;
    }
    #movie,
    #serial,
    #award,
    #biography,
    #container,
    header {
        display: none;
    }
}